@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-color: #6C63FF;
    --grey: #9ca3af;
    --off-white: #f5f5f4;



}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    max-width: 900px;
}
hr {
    margin: 2rem 0rem;
}
/* container */
.container {
    padding: 0rem 1rem;
}
ol {
    text-align: center;

}
.container-center {
    max-width: 900px;
    margin: auto;
    width: auto;
}
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;

}
.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}
.list-no-bullet {
    list-style-type: none;
}
.list-item-inline {
    display: inline;
}
.navigation {
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
}
.navigation .brand {
    padding: 1rem;
    font-weight: bold;
    color: white;
}
.navigation .link {
    color: white;
    padding: 0.5rem 0.75rem;
}
.navigation .link-active{
    font-weight: bold;
}
.nav-pills {
    text-align: right;
    padding: 1rem;
}

.hero .hero-image {
    display: block;
    max-width: 350px;
    margin: auto;
}
.hero .hero-text {
    color: var(--grey);
    text-align: center;
}
.highlighted {
    color: var(--primary-color);
}

.section {
    text-align: center;
    padding: 1rem 1rem;
}
.section-ow {
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    text-align: center;
    border-top-right-radius: 1rem;
    padding: 1rem;
    color: white;
}
.footer .link {
    color: white;
    padding: 0.5rem 1rem;
}
.footer .footer-header {
    font-weight: bold;
    font-size: large;
}
.footer ul {
    padding-inline-start: 0px;
}
.showcase-list {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    margin: 3rem auto;
}
ul {
    padding-inline-start: 0px;
}
